<div *ngIf="account$ | async as account">
  <div class="account-detail-header">
    <div class="account-detail-header-title">
      <mat-icon>{{accountIcon$ | async}}</mat-icon>
      <div>{{ account.name }}</div>
      <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
      <div>{{(account.balance || 0) | currency:account.currency}}</div>
    </div>

  </div>
  <div class="account-detail-body">
    <mat-tab-group>
      <mat-tab label="Overview"> Overview </mat-tab>
      <mat-tab label="Transactions"> Transactions </mat-tab>
    </mat-tab-group>
  </div>
  <div class="account-detail-footer"></div>
</div>
