:host {
  width: 100%;
}

.account-detail-header-title {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  gap: 16px;
  font-size: 28px;
}

.vertical-divider {
  height: 32px;
}

.transactio-actions {
  display: flex;
  margin: 8px 0;
  gap: 8px;
  align-items: baseline;
}

.transactions-table {
  width: 100%;
}

.transactions-table-paginator {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
