<div *ngIf="account$ | async as account">
  <div class="account-detail-header">
    <div class="account-detail-header-title">
      <mat-icon>{{ accountIcon$ | async }}</mat-icon>
      <div>{{ account.name }}</div>
      <mat-divider [vertical]="true" class="vertical-divider"></mat-divider>
      <div>{{ account.balance || 0 | currency: account.currency }}</div>
    </div>
  </div>
  <div class="account-detail-body">
    <mat-tab-group>
      <mat-tab label="Transactions">
        <div *ngIf="transactionDataSource$ | async as transactionDataSource">
          <div class="transactio-actions">
            <button mat-raised-button color="primary" (click)="createTransaction()">Add Transaction</button>
            <button mat-raised-button>Import</button>
            <button mat-raised-button>Export</button>
            <div class="transactions-table-paginator">
              <button
                mat-icon-button
                color="primary"
                (click)="displayFirstPage()"
                [disabled]="!(hasPreviousPage$ | async)"
              >
                <mat-icon>first_page</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                (click)="displayPreviousPage()"
                [disabled]="!(hasPreviousPage$ | async)"
              >
                <mat-icon>navigate_before</mat-icon>
              </button>
              <button mat-icon-button color="primary" (click)="displayNextPage()" [disabled]="!(hasNextPage$ | async)">
                <mat-icon>navigate_next</mat-icon>
              </button>
            </div>
          </div>
          <table class="transactions-table" mat-table [dataSource]="transactionDataSource!">
            <!-- Transaction Date Column -->
            <ng-container matColumnDef="transactionDate">
              <th mat-header-cell *matHeaderCellDef>Transaction Date</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.transactionDate | date }}</td>
            </ng-container>

            <!-- Posting Date Column -->
            <ng-container matColumnDef="postingDate">
              <th mat-header-cell *matHeaderCellDef>Posting Date</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.postingDate | date }}</td>
            </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Type</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.type }}</td>
            </ng-container>

            <!-- Amount Column -->
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Amount</th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.amount | currency: account.currency:'symbol-narrow' }}
              </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let transaction">{{ transaction.description }}</td>
            </ng-container>

            <!-- Balance Column -->
            <ng-container matColumnDef="balance">
              <th mat-header-cell *matHeaderCellDef>Balance</th>
              <td mat-cell *matCellDef="let transaction">
                {{ transaction.balance | currency: account.currency:'symbol-narrow' }}
              </td>
            </ng-container>

            <!-- Button Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let transaction">
                <button mat-icon-button color="primary" [matMenuTriggerFor]="moreActions">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #moreActions="matMenu">
                  <button mat-menu-item>Edit</button>
                  <button mat-menu-item>Move Up (Same Day)</button>
                  <button mat-menu-item>Move Down (Same Day)</button>
                  <button mat-menu-item>Delete</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Account Detail"> TODO </mat-tab>
    </mat-tab-group>
  </div>
  <div class="account-detail-footer"></div>
</div>
